In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import cv2
from PIL import Image 
from glob import glob
import pickle

In [2]:
# Load pickle data
df = pickle.load(open('./data/dataframe_images_100_100.pickle','rb'))
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,20,19,18,18,18,17,15,17,20,...,104,103,98,81,43,28,33,31,25,24
1,female,20,19,18,18,18,17,15,17,20,...,104,103,98,81,43,28,33,31,25,24
2,female,14,12,12,13,7,13,18,20,19,...,17,7,25,22,22,21,16,20,16,17
3,female,211,207,198,198,75,73,121,103,99,...,135,191,181,141,150,180,158,181,166,241
4,female,1,0,0,0,0,0,0,0,1,...,18,10,46,34,11,5,9,16,60,81

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1280 entries, 0 to 1391
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 12.2+ MB

In [4]:
# checking for missing values
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

# Data Preprocessing
- Remove missing values
- Data Normalization (min max scalling)

In [5]:
# removing missing values
# df.dropna(axis=0,inplace=True)
# df.isnull().sum()

In [6]:
# split the data into two parts
X = df.iloc[:,1:].values # independent features
y = df.iloc[:,0].values # dependent

In [7]:
X.shape

(1280, 10000)

# Min Max Scalling
## Xnorm = $\frac {x - minValue} {maxValue - minValue}$

In [8]:
X.min(), X.max()

(0, 255)

In [9]:
Xnorm = X / X.max()

In [10]:
Xnorm

array([[0.07843137, 0.0745098 , 0.07058824, ..., 0.12156863, 0.09803922,
        0.09411765],
       [0.07843137, 0.0745098 , 0.07058824, ..., 0.12156863, 0.09803922,
        0.09411765],
       [0.05490196, 0.04705882, 0.04705882, ..., 0.07843137, 0.0627451 ,
        0.06666667],
       ...,
       [0.56470588, 0.52941176, 0.43921569, ..., 0.11372549, 0.1254902 ,
        0.14901961],
       [0.18823529, 0.16470588, 0.16470588, ..., 0.20784314, 0.6       ,
        0.63921569],
       [0.25882353, 0.27058824, 0.24313725, ..., 0.8       , 0.82745098,
        0.5254902 ]])

In [11]:
Xnorm.shape

(1280, 10000)

In [12]:
y

array(['female', 'female', 'female', ..., 'male', 'male', 'male'],
      dtype=object)

In [13]:
#female = 1, male =0
y_norm = np.where(y=='female',1,0)

In [14]:
# save x and y in numpy zip
np.savez('./data/data_10000_norm.npz',Xnorm,y_norm)